* {
  margin: 0;
  padding: 0;
}
/* css common style  */
body {
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
}
.section-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.gray-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.top-m {
  margin-top: 20px;
}
.btm-m {
  margin-bottom: 20px;
}
.primary-btn {
  border-radius: 8px;
  background-color: #ff5400;
  padding: 15px 25px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.text-center {
  text-align: center;
}
/* header Style starts  */
header {
  background-color: #fff;
}
/* nav style  */
nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px auto;
}
nav .logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo-title img {
  width: 48px;
  height: auto;
}
nav .logo-title h1 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
nav .logo-title h1 span {
  background-image: linear-gradient(45deg, #ff5400, rgb(106, 183, 214));
  background-clip: text;
  color: transparent;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  column-gap: 44px;
}
nav ul li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
nav ul li .ac-home {
  font-weight: 700;
  color: #ff5400;
}
.bars {
  font-size: 25px;
  color: #131318;
  display: none;
}

/* banner section style  */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group\ 13\ \(1\)\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1170px;
  margin: auto;
  height: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}
.banner h1 {
  color: white;
  text-align: center;
  font-size: 64px;
  font-weight: 800;
}
.banner p {
  color: #fff;
  text-align: center;
  width: 60%;
  margin: 5px auto;
  font-size: 16px;
  font-weight: 400;
}
.banner-item {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-item div {
  display: flex;
  align-items: center;
  min-width: 174px;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}
.banner-item div input,
select {
  border: none;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.banner-item .search-input {
  background-color: #ff5400;
  padding: 0;
  position: relative;
}
.banner-item .search-input input {
  padding: 20px;
  background-color: #ff5400;
  width: 174px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.banner-item .search-input i {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 30px;
}

/* main section style  */
main {
  max-width: 1170px;
  background-color: white;
  margin: auto;
}
/* Popular Tours section */
.tours-container {
  margin-top: 120px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.tours-container ul {
  margin: 25px 0 25px 25px;
}
.tours-container ul li {
  margin-top: 20px;
}
.tours-content h1 {
  margin-bottom: 30px;
}
.tours-content button {
  margin-top: 60px;
}

/* Destination section style  */
.destination-container {
  margin-top: 120px;
}
.destination-container p {
  width: 60%;
  margin: 20px auto;
}
.destination-img {
  display: grid;
  grid-template-areas:
    " img1 img1 img1 img1 img1 img2 img2 img2 img2 img2"
    "img3 img3 img3 img4 img4 img4 img4 img4 img5 img5"
    "img6 img6 img6 img6 img6 img7 img7 img7 img7 img7";
  gap: 25px;
}
.destination-img div {
  position: relative;
  height: 300px;
}
.destination-img div p {
  position: absolute;
  top: 50%;
  left: 12%;
  color: #fff;
  text-align: center;
  font-weight: 800;
}
.destination-img .img1 {
  grid-area: img1;
}
.destination-img .img2 {
  grid-area: img2;
}
.destination-img .img3 {
  grid-area: img3;
}
.destination-img .img4 {
  grid-area: img4;
}
.destination-img .img5 {
  grid-area: img5;
}
.destination-img .img6 {
  grid-area: img6;
}
.destination-img .img7 {
  grid-area: img7;
}

/* service section style  */
.service{
  margin-top: 120px;
}
.service-container {
  display: grid;
  grid-template-areas:
   "c1 c1 c2 c2"
   ". c3 c3 ."
  ;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.service-des{
  width: 60%;
  margin: 20px auto;
}
.service-card {
  padding: 30px 20px;
  border-radius: 16px;
}
.service-card1 {
  background-color: rgba(251, 181, 99, 0.05);
  border: 1px solid rgba(251, 181, 99, 0.2);
  grid-area: c1;
}
.service-card2{
  background-color: rgba(41, 206, 246, 0.05);
  border: 1px solid rgba(41, 206, 246, 0.20);
  grid-area: c2;
}
.service-card3{
  background-color: rgba(251, 181, 99, 0.05);
  border: 1px solid rgba(251, 181, 99, 0.2);
  grid-area: c3;
}
.service-card h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 20px auto;
}

/*===== Responsive design starts  ===== */

/* Mobile Responsive */
@media screen and (max-width: 600px) {
  /* nav Responsive  */
  nav {
    padding: 0 20px;
  }
  nav ul {
    display: none;
  }
  nav .bars {
    display: block;
  }

  /* banner Responsive  */
  .banner {
    max-width: 95%;
    height: 700px;
    margin: 0 auto;
  }
  .banner h1 {
    font-size: 45px;
  }
  .banner p {
    width: 90%;
  }

  .banner-item {
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
  }
  .banner-item div {
    width: 80%;
  }
  .banner-item .search-input {
    width: 90%;
  }
  .banner-item .search-input input {
    width: 100%;
  }
  .banner-item .search-input i {
    left: 80px;
  }

  /* main section  */
  .tours-container {
    flex-direction: column;
  }
  .tours-content {
    width: 90%;
  }
  .tours-container .tours-img img {
    width: 90%;
    display: block;
    margin: auto;
  }

  /* destination  */
  .destination-container p {
    width: 80%;
  }
  .destination-img {
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7";
  }
  .destination-img div {
    width: 90%;
    margin: 0 auto;
  }

  /* service section  */
  .service-container{
    grid-template-areas:
      "c1"
      "c2"
      "c3"
    ;
  }
  .service-des{
    width: 80%;
  }
  .service-card{
    width: 80%;
    margin: 0 auto;
  }
}
